@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    animation: smoothFadeIn 1s ease-out;
}
@keyframes smoothFadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/*HEADER*/
.top-banner {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}
header {
    background-color: #9E0001;
    padding: 10px 0;
}
.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logo img {
    width: 250px;
    display: block;
    margin: 15px auto;
}
.hamburger-menu {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
}
nav {
    text-align: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline-block;
    margin: 15px 15px;
    margin-top: 30px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bolder;
}
nav ul li a:hover {
    color: black;
    transition: 0.3s;
}
/*HEADER*/

/*BANNER*/
.banner {
    width: 100%;
    overflow: hidden;
}
.banner img {
    width: 100%;
    height: auto;
    display: block;
}
/*BANNER*/
/*BUSCADOR*/
.search-section {
    padding: 20px;
    margin-top: 50px;
}
.search-container {
    text-align: center;
    margin-bottom: 20px;
}
.search-container h2 {
    font-size: 28px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #9E0001;
}
.search-container p {
    margin-top: -20px;
    margin-bottom: 20px;
    color: black;
}
.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    background-color: #9E0001;
    overflow: hidden;
    border-radius: 50px;
}
.search-box input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: #9E0001;
    color: white;
}
.search-box input::placeholder {
    color: white;
}
.search-box button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
.search-box button:hover {
    background-color: #9E0001;
    transition: 0.3s;
}
.search-box button i {
    margin-right: 5px;
}
.search-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.result-card {
    display: flex;
    background-color: white;
    border: 1px solid #ddd;
    overflow: hidden;
    width: 90%;
    max-width: 800px;
    margin: 5px 0;
    align-items: center;
    padding: 10px;
}
.result-card img {
    width: 100px;
    height: auto;
    margin-right: 20px;
}
.result-info {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.result-title {
    font-size: 18px;
    color: black;
    margin-bottom: 5px;
}
.result-author {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}
.result-editorial {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}
.result-price {
    font-size: 16px;
    color: #9E0001;
    margin-bottom: 10px;
    font-weight: bold;
}
.result-button {
    padding: 8px 16px;
    background-color: #9E0001;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    align-self: flex-start;
    text-decoration: none;
}
.result-button:hover {
    background-color: black;
    transition: 0.3s;
}
/*BUSCADOR*/
/*titulos*/
.novedades-section {
    text-align: center;
    margin: 50px 0;
}
.novedades-section h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    color: #9E0001;
    font-weight: bold;
}
.novedades-section h2 span {
    flex: 1;
    height: 5px;
    background-color: #9E0001;
    margin: 0 100px;
    border-radius: 20px;
}
/*titulos*/
/*CARRUSEL*/
.book-carousel-section {
    text-align: center;
    padding: 20px;
}
.carousel-container {
    position: relative;
    max-width: 90%;
    overflow: hidden;
    margin: 20px auto;
}
.carousel {
    display: flex;
    overflow: hidden;
}
.carousel-track {
    display: flex;
    transition: transform 0.3s ease;
}
.book-card {
    overflow: hidden;
    width: 200px;
    margin: 0 5px;
    flex-shrink: 0;
    text-align: left;
}
.book-card img {
    width: 200px; 
    height: 300px; 
    object-fit: cover; 
    display: block;
}
.book-info {
    padding: 10px;
}
.book-title {
    font-size: 18px;
    color: #000;
    margin: 10px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.book-author {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.book-price {
    font-size: 16px;
    color: #9E0001;
    margin-bottom: 10px;
    font-weight: bold;
}
.more-button {
    padding: 8px 16px;
    background-color: #9E0001;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
}
.more-button:hover {
    background-color: black;
    transition: 0.3s;
}
.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #9E0001;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}
.prev-button {
    left: 10px;
}
.next-button {
    right: 10px;
}
/*CARRUSEL*/
/*DETALLES LIBRO*/
.container {
    max-width: 1000px;
    margin: 100px auto;
    padding: 20px;
}

.book-details {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 20px;
}

.details-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.details-left {
    flex: 1;
    padding-right: 20px;
}

.details-left img {
    max-width: 100%;
}

.details-right {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.book-title {
    font-size: 24px;
    margin-bottom: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.book-isbn,
.book-author,
.book-price,
.book-editorial,
.book-pages,
.book-tematica {
    font-size: 16px;
    margin-bottom: 10px;
}

.book-description {
    font-size: 14px;
    margin-bottom: 20px;
}

.buy-button {
    padding: 10px 20px;
    background-color: #9E0001;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}

.buy-button:hover {
    background-color: black;
    transition: 0.3s;
}

.shipping-info {
    font-size: 14px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.payment-info {
    display: flex;
    justify-content: center;
}

.payment-info img {
    max-width: 100px;
}
/*DETALLES LIBRO*/
/*CATALOGO*/
.catalogo-container {
    padding: 20px;
}
.catalogo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    margin-top: 20px;
}
.catalogo-card {
    overflow: hidden;
    width: 100%;
    text-align: left;
    transition: transform 0.2s;
    position: relative; /* Añadido para posicionar la nubecita */
}
.catalogo-card img {
    width: 180px;
    height: 280px; 
    object-fit: cover;
    margin: 0 auto 15px;
    display: block;
}
.catalogo-info {
    padding: 10px;
}
.catalogo-title {
    font-size: 16px;
    color: #000;
    margin: 10px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.catalogo-author {
    font-size: 12px;
    color: #555;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.catalogo-price {
    font-size: 14px;
    color: #9E0001;
    margin-bottom: 10px;
    font-weight: bold;
}
.catalogo-button {
    padding: 6px 12px;
    background-color: #9E0001;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 12px;
    display: block;
    width: 100%;
    text-align: center;
}
.catalogo-button:hover {
    background-color: black;
    transition: 0.3s;
}
.book-status {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #9E0001;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9em;
    font-weight: bold;
    z-index: 1;
}
.book-status.nuevo {
    background-color: rgba(0, 255, 0, 0.8);
}
.book-status.usado {
    background-color: #9E0001;
    color: white;
}
/*CATALOGO*/
/*FOOTER*/
footer {
    background-color: #9E0001;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 150px;
}
.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}
.footer-content p {
    margin: 10px 0;
}
.footer-content a {
    color: #fff;
    text-decoration: none;
}
.footer-content a:hover {
    text-decoration: underline;
}
.payment-methods {
    margin-top: 20px;
}
.payment-methods p {
    margin-bottom: 10px;
}
.payment-methods img {
    width: 120px;
    height: auto;
    margin: 15px -10px;
}
/*FOOTER*/
/*BURBUJA*/
.whatsapp-bubble {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
    background-color: #9E0001;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;
}
.whatsapp-bubble a {
    color: white;
    font-size: 35px;
    text-decoration: none;
}
.whatsapp-bubble:hover {
    transform: scale(1.1);
}
/*BURBUJA*/
/*NOT FOUND*/
.simple-notfound-container {
    text-align: center;
    background-color: #9E0001;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    margin-bottom: -150px;
}
.simple-notfound-content {
    padding: 20px;
    border-radius: 5px;
}
.simple-notfound-content h1 {
    font-size: 4em;
    margin: 0;
    color: white;
}
.simple-notfound-content p {
    font-size: 1.2em;
    margin: 10px 0;
    color: white;
}
.simple-notfound-content a {
    color: black;
    text-decoration: none;
}
.simple-notfound-content a:hover {
    text-decoration: underline;
}
.simple-notfound-image {
    margin-top: 20px;
    max-width: 100%;
    height: auto;
}
/*NOT FOUND*/















































































/*RESPONSIVES*/
@media (max-width: 768px) {
    .top-banner {
        font-size: 7px;
    }
    .header-container {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 15px;
    }
    .logo img {
        margin: 0;
        width: 150px;
    }
    .hamburger-menu {
        display: block;
    }
    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(158, 0, 1, 0.95);
        overflow-y: auto;
        transform: translateY(-100%);
        transition: transform 0.5s ease, opacity 0.5s ease;
        opacity: 0;
        z-index: 1000;
    }
    nav.open {
        transform: translateY(0);
        opacity: 1;
    }
    nav.close {
        transform: translateY(-100%);
        opacity: 0;
    }
    .close-menu {
        font-size: 30px;
        cursor: pointer;
        color: white;
        position: absolute;
        top: 20px;
        right: 20px;
        display: block;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    nav ul li {
        display: block;
        margin: 15px 0;
    }
    nav ul li a {
        font-size: 24px;
        padding: 10px 20px;
    }
}
@media (min-width: 769px) {
    .close-menu {
        display: none;
    }
}
@media (max-width: 768px) {
    .search-section {
        padding: 10px;
        margin-top: 30px;
    }
    .search-container h2 {
        font-size: 20px; 
        margin-bottom: 20px;
        margin-top: 10px;
    }
    .search-box {
        flex-direction: row;
        max-width: 100%;
        border-radius: 5px;
        border: 1px solid #9E0001;
    }
    .search-box input {
        flex: 1;
        padding: 6px; 
        font-size: 12px; 
    }
    .search-box button {
        padding: 6px 12px;
        font-size: 12px; 
    }
    .search-box button i {
        margin-right: 0;
    }
}
@media (max-width: 768px) {
    .novedades-section h2 {
        font-size: 28px;
    }
    .novedades-section h2 span {
        margin: 0 50px;
    }
}
@media (max-width: 480px) {
    .novedades-section h2 {
        font-size: 24px;
    }
    .novedades-section h2 span {
        margin: 0 20px;
    }
}
@media (max-width: 768px) {
    .result-card {
        flex-direction: row;
        align-items: flex-start;
        padding: 10px;
        width: 100%;
        margin: 10px 5px;
    }
    .result-card img {
        width: 80px;
        height: auto;
        margin-right: 10px;
    }
    .result-info {
        flex: 1;
    }
    .result-title {
        font-size: 16px;
        margin-bottom: 3px;
    }
    .result-author, .result-editorial, .result-price {
        font-size: 12px;
        margin-bottom: 3px;
    }
    .result-button {
        font-size: 12px;
        padding: 6px 12px;
    }
}
@media (min-width: 576px) {
    .book-card {
        width: 200px; /* Ajuste para pantallas medianas */
        margin: 0 5px;
    }
    .book-title {
        font-size: 18px;
    }
}

@media (min-width: 768px) {
    .book-card {
        width: 250px; /* Ajuste para pantallas grandes */
        margin: 0 5px;
    }
    .book-title {
        font-size: 20px;
    }
}

@media (min-width: 992px) {
    .book-card {
        width: 300px; /* Ajuste para pantallas muy grandes */
        margin: 0 5px;
    }
    .book-title {
        font-size: 22px;
    }
}
@media (max-width: 768px) {
    .book-details {
        flex-direction: column;
        padding: 10px;
        text-align: center;
    }

    .details-left {
        padding-right: 0;
        margin-bottom: 20px;
    }

    .details-right {
        flex: 1;
    }

    .buy-button {
        font-size: 14px;
        padding: 8px 16px;
    }

    .book-title {
        font-size: 20px;
        white-space: normal;
    }

    .book-isbn,
    .book-author,
    .book-price,
    .book-editorial,
    .book-pages,
    .book-tematica {
        font-size: 14px;
    }

    .book-description,
    .shipping-info {
        font-size: 12px;
    }

    .details-container {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 10px;
    }

    .book-title {
        font-size: 18px;
        white-space: normal;
    }

    .book-isbn,
    .book-author,
    .book-price,
    .book-editorial,
    .book-pages,
    .book-tematica {
        font-size: 12px;
    }

    .book-description,
    .shipping-info {
        font-size: 10px;
    }

    .buy-button {
        font-size: 12px;
        padding: 6px 12px;
    }

    .payment-info img {
        max-width: 80px;
    }
}

@media (max-width: 375px) {
    .container {
        padding: 5px;
    }

    .book-title {
        font-size: 16px;
        white-space: normal;
    }

    .book-isbn,
    .book-author,
    .book-price,
    .book-editorial,
    .book-pages,
    .book-tematica {
        font-size: 12px;
    }

    .book-description,
    .shipping-info {
        font-size: 10px;
    }

    .buy-button {
        font-size: 10px;
        padding: 4px 8px;
    }

    .payment-info img {
        max-width: 60px;
    }
}

@media (max-width: 320px) {
    .container {
        padding: 5px;
    }

    .book-title {
        font-size: 14px;
        white-space: normal;
    }

    .book-isbn,
    .book-author,
    .book-price,
    .book-editorial,
    .book-pages,
    .book-tematica {
        font-size: 12px;
    }

    .book-description,
    .shipping-info {
        font-size: 10px;
    }

    .buy-button {
        font-size: 9px;
        padding: 3px 6px;
    }

    .payment-info img {
        max-width: 50px;
    }
}
@media (max-width: 1200px) {
    .catalogo-grid {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
}

@media (max-width: 768px) {
    .catalogo-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .catalogo-title {
        font-size: 14px;
    }

    .catalogo-author, .catalogo-price, .catalogo-button {
        font-size: 10px;
    }
}
@media (max-width: 1200px) {
    .footer-content {
        padding: 0 15px;
    }
}

@media (max-width: 992px) {
    .footer-content {
        padding: 0 10px;
    }
    .payment-methods img {
        width: 100px;
    }
}

@media (max-width: 768px) {
    .footer-content {
        padding: 0 5px;
    }
    .payment-methods img {
        width: 80px;
    }
}

@media (max-width: 576px) {
    .footer-content {
        padding: 0;
        font-size: 12px;
    }
    .payment-methods img {
        width: 60px;
    }
}
@media (max-width: 600px) {
    .simple-notfound-content h1 {
        font-size: 2.5em;
    }

    .simple-notfound-content p {
        font-size: 1em;
    }
}